* {
    box-sizing: border-box;
}

body {
  background-color: #f1f3f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: scroll;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 30px;
  box-shadow: 0 4px 6px -2px rgba(0,0,0,0.6);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: darkblue;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: #172337;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  border-bottom: 2px solid #2874f0;
  padding-bottom: 2px;
}

h3 {
  color: #172337;
  font-weight: bold;
  text-align: center;
}

img {
  height: 40vh;
  padding: 20px;
  width: 15vw;
  border: 1px solid black;
  border-radius: 7px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.card {
  background-color: #fff8e1;
  border: 2px solid black;
  border-radius: 8px;
  width: 40%;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

button {
  padding: 5px;
  border-radius: 8px;
  background-color: #ffd814;
  margin-bottom: 20px;
  border: none;
  font-weight: bold;
  color: #172337;
}

p {
  font-weight: bold;
}

.button-arrange {
  display: flex;
  flex-direction: column;
}
